.main{
    background-color: #FFDE11 ;
    font-family: 'Salsa', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10%;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.callbtn:hover{
    color: #FFDE11;
}

h1,h3{
    transition: color 500ms ease;
    text-wrap: nowrap;
}
h1:hover,h3:hover{
    cursor: pointer;
    color: #3482c2;
}
.nav{
    display: flex;
    gap: 150px;
    white-space: nowrap;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.callbtn{
    background-color: #3482c2;
    border-radius: 20px;
    padding: 8px 24px;
    
}
.hamburger{
    display: none;
}
.hamh1{
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: flex-start;
}
@media(width<1200px){
    .nav{
        gap: 50px;
    }
}
@media(width<800px){
    *{
        padding: 0;
    }
     .nav{
        display: none;
        padding: 40px 0;
        width: 100%;
        gap: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    h3{
        display: block;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }

    .hamburger{
        display: inline-flex;
    }
    .main{
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        flex-direction: column;
        /* width: 420px; */

    }
}
