<div class="main">
  <div class="hamh1">
    <div class="hamburger" (click)="togglehamnav()">
      <h1><i class="fa-solid fa-bars"></i></h1>
    </div>
    <h1>
      <a href="#top">
        <i class="fa-solid fa-bolt"></i>
        Mr.Electric
        <i class="fa-solid fa-bolt"></i>
      </a>
    </h1>
  </div>
  <div class="nav">
    <h3 class="callbtn">
      <a  (click)="call()">
        <i class="fa-solid fa-phone"></i> 577-22-75-89
      </a>
    </h3>
    <h3><a href="#contact" (click)="checkwidth()">ჩვენს შესახებ</a></h3>
    <h3><a href="#adress" (click)="checkwidth()" >კონტაქტი</a></h3>
  </div>
</div>
