<div class="landingphoto">
  <div class="photocover">
    <h1 class="titleh1">ელექტრიკოსი გამოძახებით</h1>
    <h2 class="number">577-22-75-89</h2>
    <button (click)="call()" class="call">დაგვირეკეთ!</button>
  </div>
</div>
<div class="contact">
    <div class="services">

        <div class="unit">
            <img class="atv" src="assets/atv.png" alt="eleqtrikosi gamodzaxebit" />
            <h2 class="circle"><i class="fa-regular fa-circle"></i></h2>
        </div>
        <div class="unittext">
            <h3 style="display: inline">
                საუკეთესო ხარისხის ელექტრო მომსახურება სახლსა თუ გარეთ
            </h3>
        </div>
    </div>
  <div class="adress">
    <h2 class="phone" (click)="call()">
      <i class="fa-solid fa-phone"></i>
      577-22-75-89
    </h2>
    <h2 class="svgs">
      <a href="https://www.facebook.com/profile.php?id=61556020191422" target="_blank" style="margin-right: 40px;" class="fa-brands fa-facebook"></a>
      <a href="" target="_blank" style="margin-right: 40px;" class="fa-brands fa-instagram"></a>
      <a href="" target="_blank" class="fa-brands fa-twitter"></a>
  </h2>
  </div>
</div>
