<div class="landingphoto" id="top">
  <div class="photocover">
    <h1 class="titleh1">ელექტრიკოსი გამოძახებით</h1>
    <h2 class="number">

      <button (click)="call()" class="call">
        <i class="fa-solid fa-phone"></i> 558-444-812
      </button>
      <button class="facebook">
        <a href="https://www.facebook.com/profile.php?id=61556020191422">

          <i class="fa-brands fa-facebook-f"></i>
          acebook
        </a>
      </button>
    </h2>
  </div>
</div>
<div class="contact" id="contact">

  <div class="card1">
    <div class="unit1">
      <img class="atv" src="assets/atv.png" alt="eleqtrikosi gamodzaxebit" />
      <h2 class="circle1"><i class="fa-regular fa-circle"></i></h2>
    </div>
    <div class="text1">
      <h2>ელექტრიკოსი</h2>
      <p class="">ჩვენთან მუშაობენ მრავალწლიანი გამოცდილების მქონე პროფესიონალი ელექტრიკოსებ</p>
    </div>
  </div>

  <div class="card2">
    <div class="unit2">
      <img class="nosize" src="assets/nosize.png" alt="eleqtrikosi gamodzaxebit" />
      <h2 class="circle2"><i class="fa-regular fa-circle"></i></h2>
    </div>
    <div class="text2">
      <h2>გამოძახებით</h2>
      <p class="">დაგვირეკეთ მითითებულ ნომერზე და უმოკლეს შესაძლო დროში მოვალთ თქვენს სახლსა თუ ობიექტზე და მოგიგვარებთ პრობლემას</p>
    </div>
  </div>

  <div class="card3">
    <div class="unit3">
      <img class="plosko" src="assets/plosko.webp" alt="eleqtrikosi gamodzaxebit" />
      <h2 class="circle3"><i class="fa-regular fa-circle"></i></h2>
    </div>
    <div class="text3">
      <h2>თბილისში</h2>
      <p class="">ჩვენი გამოძახების არეალია თბილისი და შემოგარენი</p>
    </div>
  </div>


</div>
<div class="paralax_div">
  <img class="paralax_photo" src="assets/paralax.webp" alt="">
  

</div>

<div class="paralax_text" >
  <h2 style="color:#FFDE11 ;margin-bottom: 20px;" >ჩვენ გთავაზოთ</h2>
  <p style="max-width: 500px;
  ">ნებისმიერი სირთულის ელექტროობას დაკავშირებული პრობლემის მოგვარებას 
    სახლში ან ობიქეტზე გარანტიით, ჩვენთან მუშაობენ მრავალწლიანი გამოცდილების 
    მქონე პროფესიონალები
</p>

</div>

<div class="adress" id="adress">
    <h2  style="padding-top: 50px;">ვმუშაობთ ყოველდღე 24/7</h2>
    <div class="flx">
      
      <div class="follow">
        <h3 class="bottomh3">დაგვირეკეთ</h3>
        <h2 class="phone" (click)="call()">
          <i class="fa-solid fa-phone"></i>
          558-444-812
        </h2>
      </div>
      <div class="callus">
        <h3 class="bottomh3">გამოგვყევით</h3>
        <h2 class="svgs">
          <a href="https://www.facebook.com/profile.php?id=61556020191422" target="_blank" style="margin-right: 40px;" class="fa-brands fa-facebook"></a>
          <a href="" target="_blank" style="margin-right: 40px;" class="fa-brands fa-instagram"></a>
          <a href="" target="_blank" class="fa-brands fa-twitter"></a>
        </h2>
      </div>
    </div>
  </div>
